@import "./variables.scss";
@import "./main.scss";

*{
    margin: 0; 
    padding: 0; 
}

#home {
    color: $font-primary;
    flex-direction: column;
    @include default;
    height: 100vh;
    display: flex;
    align-items: center;

    #top-bar{
        border: 1px solid red; 
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 50px;

        img{
            width: 40px; 
        }
    }

    h1{
        font-size: 1.2rem;
    }

    ul {
        .card{
            height: 80px;
            border: 1px solid $font-secondary; 
            background: $card-background;
        }
    }
}
