@import "variables";
@import "main";

#improvisation {
    @include default;
    height: 100vh;
    font-family: Inter;
    color: $font-primary; 
    @include center; 
    flex-direction: column;

    h1{
        font-weight: lighter;
    }

    audio{
        filter: invert(1);
    }

    img{
        &:hover{
            cursor: pointer;
        }
    }
    .module{
        @include center; 
    }
}
