$background: #111015;
$background-gradient: linear-gradient(10deg, rgba(17, 16, 21, 1) 80%, rgba(35, 37, 51, 1) 100%);
$font-primary: #ffffff;
$font-secondary: #c5c5c5;
$card-border: #232227;
$card-background: #131217;
